
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea

!.gitignore
/.idea
/node_modules/*
.DS_Store
/pkg
/src/github.com/*
/src/golang*
/src/qin*
/src/blog*
!/src/github.com/foxiswho/
!/src/echo-demo/
vendor
uploads
